{% extends "base.html" %}

{% block navigation %}
<ul class="nav navbar-nav">
<li><a href="/">Общая статистика</a></li>
<li class="active"><a href="/urls">Url адреса</a></li>
<li><a href="/urls">Дублирование</a></li>
<li><a href="/urls">Новый контент</a></li>
</ul>
{% endblock %}

{% block head %}
    <h2 class="page-header">Список адресов{% if url_type != url_types[0] %} типа {{ url_type }}{% endif %}{% if key %},
        где отличается {{ key }}{% endif %} ({{ pages|length }}):</h2>
{% endblock %}

{% block content %}

<div class="container" align="right">
<div class="btn-group">
  <button class="btn btn-default dropdown-toggle" type="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Выберите тип URL
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      {% for type in url_types %}
        <li><a href="/urls?type={{ type }}">{{ type }}</a></li>
      {% endfor %}
  </ul>
</div>
<div class="btn-group">
  <button class="btn btn-default dropdown-toggle" type="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Выберите язык
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      {% for type in url_types %}
        <li><a href="/urls?type={{ type }}">{{ type }}</a></li>
      {% endfor %}
  </ul>
</div>
</div>

<div class="container">
    <ol>
        {% for page in pages %}
        <li> <a href="urls/{{ page.id }}">[ {{ page.status_code }} ] {{ page.url }}</a> </li>
        {% endfor %}
    </ol>
</div>

{% endblock %}
